<div class="container">
  <br>
  <br>
  <br>
  <br>
  <h1>Stupid Coach</h1>
  <div>
    <p> <%= @question %></p>
    <p>- your question</p>
  </div>
  <div>
    <p><%= @answer %></p>
    <p>- Stupid Coach</p>
  </div>
  <%= link_to "Ask a new question", ask_path %>
</div>

